<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <div class="auth-logo">67</div>
      <h2>Sign In to shop</h2>
    </div>

    <form class="auth-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" autocomplete="username">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="current-password">
      </mat-form-field>

      <button mat-flat-button color="primary" class="full-width login-button" [disabled]="authForm.invalid" type="submit">
        Sign In
      </button>
    </form>
  </div>
</div>