<footer class="footer">

  <div class="footer__container">

    <div class="footer__section">
      <div class="logo">
        <mat-icon>storefront</mat-icon>
        <span>67 Shop</span>
      </div>

      <p class="description">
        Присоединяйся к команде. Пиши на наш e-mail по поводу вакансий.
      </p>
    </div>

    <div class="footer__section">
      <h3>Контакты</h3>

      <div class="contact">
        <mat-icon>email</mat-icon>
        <span>support@67shop.com</span>
      </div>

      <div class="contact">
        <mat-icon>phone</mat-icon>
        <span>+998 90 123 45 67</span>
      </div>

      <div class="contact">
        <mat-icon>location_on</mat-icon>
        <span>Vinnytsia, Ukraine</span>
      </div>
    </div>

  </div>

  <div class="footer__bottom">
    © 2026 67 Shop — Все права защищены
  </div>

</footer>
