<div class="filter-panel">
  <app-product-filter (searchChange)="onFilterChange($event)"></app-product-filter>

  <button mat-flat-button (click)="redirectToCreateProduct()"><mat-icon>create</mat-icon>Create product</button>
  <div class="products-quantity">
    Products found: <span>{{ QuantityProducts() }}</span>
  </div>
</div>

  <div class="cart-info">
    <span>
      🛒 <strong>{{ cartService.totalItems() }}</strong> items
    </span>
    <span class="separator">•</span>
    <span>
      💰 <strong>{{ cartService.totalPrice() | price }}</strong>
    </span>
  </div>

<div class="products-grid">
  @for (productItem of filteredProducts(); track productItem.id) {
    <app-product-card
      [product]="productItem"
      (addToCart)="handleAddToCart($event)">
    </app-product-card>
  }
</div>
